@using Drinks_App.Data.Models
<div>
    <h2>Aqui se muestran todas las bebidas</h2>
</div>

<h2>@Model.CurrentCategory</h2>

@{
    foreach (Drink drink in Model.Drinks)
    {
        @await Html.PartialAsync("DrinksSummary", drink)
    }
}

